@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

$bg-color: #131722;
$light-bg-color: rgba(30, 41, 82, 0.2);
$bg-transparent: rgba(19, 91, 117, 0.6);
$font-color: #fff;
$border-color: rgba(168, 168, 168, 0.24);
$border-height: 1px;
$secondary-font-color: #949cb0;

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: 'Montserrat Alternates', sans-serif;
    ul {
        list-style-type: none;
    }

    a, a:hover {
        color: $font-color !important;
    }

    .spanStyle:hover {
        cursor: pointer;
        text-decoration: underline;
        transition: 0.3s;
    }

    .logout {
        cursor: pointer;
    }

    .content {
        h2 {
            position: relative;

            &::before, &::after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: $border-color;
            }

            &::before {
                width: 25%;
                top: -10px;
            }

            &::after {
                width: 75%;
                bottom: -10px;
                left: 0;
            }
        }
    }

    .item {
        .layer {
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px 5px 0;
            background-color: rgba(0, 0, 0, 0.5);
            top: 100%;
            transition: 0.3s;
        }

        img {
            transition: 0.3s;
        }

        &:hover .layer {
            top: 0;
        }

        &:hover img {
            transform: scale(1.2);
        }

        .vote {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
    }

    .dropdown-item:hover {
        background-color: $bg-color;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin: 1.25rem 0;

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 5px;
        }

        @media (max-width: 576px) {
            padding: 2px;
        }

        .p-paginator {
            width: fit-content;
            background-color: $bg-transparent;
            border-radius: 10px;

            .p-paginator-page.p-highlight,
            .p-paginator-page:not(.p-highlight):hover {
                background-color: $bg-color;
                color: $font-color;
                border-radius: 50%;
                font-weight: bold;
            }

            .p-paginator-first,
            .p-paginator-prev,
            .p-paginator-next,
            .p-paginator-last {
                color: $secondary-font-color;
            }
        }
    }
}








